
  .toast-container {
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    position: fixed;
    display: flex;

    align-items: flex-end;
    font-size: 14px;
  }

  .toast {
    justify-content: space-between;
    padding: 8px 0 8px 12px;
    box-sizing: border-box;
    align-items: center;
    min-height: 40px;
    margin: 4px 0;
    display: flex;
    width: 400px;

    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #383838cf;
    border-radius: 4px;
    color: #fff;

    transition: .5s ease;
  }

  .toast:first-child {
    margin-top: 0;
  }

  .toast__dismiss {
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    padding: 0 12px;
    margin: 0 4px;
    display: flex;
    height: 40px;
    width: 40px;

    text-align: center;
    font-weight: 600;
    line-height: 20px;
    font-size: 20px;
    color: #fff;

    background-color: transparent;
    border: 2px solid transparent;
    transition: .3s ease-in;
    border-radius: 5px;

    appearance: none;
    cursor: pointer;

  }

  .toast__dismiss:focus {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }

  @media screen and (min-width: 800px) {
    .toast-container {
      top: 10px;
      right: 10px;
    }

    .--appear {
      opacity: .1;
      transform: translateX(100%);
    }

    .--remove {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  @media screen and (max-width: 800px) {
    .toast-container {
      left: 10px;
      right: 10px;
      top: 10px;
    }

    .toast {
      width: 100%;
    }

    .--appear {
      opacity: .8;
      transform: translateY(50px);
    }

    .--remove {
      opacity: 0;
      transform: translateY(-50px);
    }
  }